.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 180px;
  align-content: center;
}

.App-header {
  /* background-color: #222; */
  height: 100vh;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

span.heimu {
  background: black;
  color: black;
  transition: background 0.37s ease;
}
span.heimu:hover {
  color: inherit;
  background: inherit;
}
span.heimu a:link {
  background: black;
  color: black !important;
}
span.heimu a:visited {
  background: black;
  color: black !important;
}
span.heimu a:hover {
  background: black;
  color: black !important;
}
span.heimu a:active {
  background: black;
  color: black !important;
}